<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="conexion_psql" connectionString="Server=192.168.0.61; Port=5432; Uid=postgres; Password=visap67; Database = vis; ApplicationName=VisaplieneWeb" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1" maxRequestLength="5000"
    requestLengthDiskThreshold="2000"
    executionTimeout="120"/>
    <sessionState mode="InProc" cookieless="false" timeout="50"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MovContSoap" maxBufferSize="5000000" maxReceivedMessageSize="5000000" />
        <binding name="ExecuteCmdSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.0.101/MovCont.asmx" binding="basicHttpBinding"
        bindingConfiguration="MovContSoap" contract="MovimientoContable.MovContSoap"
        name="MovContSoap" />
      <endpoint address="http://192.168.0.101/ExecuteCmd.asmx" binding="basicHttpBinding"
        bindingConfiguration="ExecuteCmdSoap" contract="ComandCmd.ExecuteCmdSoap"
        name="ExecuteCmdSoap" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="SecurityKey" value="40000" />
  </appSettings>
</configuration>
